<footer id="footer" class="f-cf">
  <%= theme.mail %>
  <% if (theme.social) { %>
    <% _.forEach(theme.social, function(value, key) { %>
      <% if (value) { %>
        · <a href="<%= url_for(value) %>" target="_blank" class="nav-icn"><%= key %></a>
      <% } %>
    <% }); %>
  <% } %>
  <span class="copyright"><%= theme.copyright %></span>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span class="count" id="busuanzi_container_site_uv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</footer>





